.bar{
  margin:0 auto;
  width:45vw;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:42vw;
  font-size:16px;
  outline: none;
  
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="bar"] {
    width: 70%;
  }
  [class*="searchbar"] {
    width: 70%;
    height:30px;
  }

  [class*="ds-dropdown-menu ds-with-1"] {
    position: relative!important;
    margin-top:28%
  }
}



